In [4]:
import pandas as pd

KOSPI_ticker = pd.read_csv('KOSPI_ticker.csv', encoding='EUC-KR', index_col=0)
KOSPI_ticker['종목코드'] = KOSPI_ticker['종목코드'].map(lambda x : '%06d'%x)
KOSPI_ticker.drop(['종가','대비','등락률','PER','PBR'], axis=1, inplace=True)
KOSPI_ticker

,종목코드,종목명,시장구분,업종명,시가총액,EPS,BPS,주당배당금,배당수익률
1,000020,동화약품,KOSPI,의약품,4.050063e+11,1033.0,11860.0,180,1.24
2,000040,KR모터스,KOSPI,운수장비,1.115193e+11,NaN,396.0,0,0.00
3,000050,경방,KOSPI,유통업,4.180829e+11,499.0,27063.0,125,0.82
4,000060,메리츠화재,KOSPI,보험,2.225531e+12,3856.0,22175.0,1280,6.94
5,000070,삼양홀딩스,KOSPI,기타금융,1.040559e+12,13218.0,171357.0,2250,1.85
...,...,...,...,...,...,...,...,...,...
779,361610,SK아이이테크놀로지,KOSPI,전기전자,1.008861e+13,1521.0,19258.0,0,0.00
780,363280,티와이홀딩스,KOSPI,기타금융,1.074591e+12,10193.0,28162.0,0,0.00
781,375500,DL이앤씨,KOSPI,건설업,2.584392e+12,NaN,NaN,0,0.00
782,378850,화승알앤에이,KOSPI,운수장비,1.114926e+11,NaN,NaN,0,0.00
783,383220,F&F,KOSPI,섬유의복,3.344208e+12,NaN,NaN,0,0.00

In [5]:
pd.read_csv('data/KOSPI_fs/005930_fs.csv', encoding='EUC-KR', index_col=0)

                  X2018.12   X2019.12   X2020.12
매출액              2437714.0  2304009.0  2368070.0
매출원가             1323944.0  1472395.0  1444883.0
매출총이익            1113770.0   831613.0   923187.0
판매비와관리비           524903.0   553928.0   563248.0
인건비                64514.0    64226.0    70429.0
...                    ...        ...        ...
연결범위변동으로인한현금의증가        NaN        NaN        NaN
환율변동효과               942.0     5953.0    -8339.0
현금및현금성자산의증가        -2046.0   -34545.0    24966.0
기초현금및현금성자산        305451.0   303405.0   268860.0
기말현금및현금성자산        303405.0   268860.0   293826.0

[237 rows x 3 columns]

In [6]:
import pandas as pd
pd.read_csv('data/KOSPI_value_2017.csv')

     ticker   PBR   PCR    PER   PSR
0        20  0.91  4.65   5.79  1.05
1        40  1.62   NaN    NaN  1.59
2        50  0.55  6.94  15.05  1.06
3        60  1.45   NaN   6.76   NaN
4        70  0.78  9.47  28.72  0.45
..      ...   ...   ...    ...   ...
778  361610   NaN   NaN    NaN   NaN
779  363280   NaN   NaN    NaN   NaN
780  375500   NaN   NaN    NaN   NaN
781  378850   NaN   NaN    NaN   NaN
782  383220   NaN   NaN    NaN   NaN

[783 rows x 5 columns]

&#10004;

In [1]:
import pandas as pd
import numpy as np

# 1. use fs_df.csv
fs_df = pd.read_csv('fs_df.csv', encoding='EUC-KR')
fs_df = fs_df.rename(columns={'Unnamed: 0':'ticker'})
fs_df['ticker'] = fs_df['ticker'].map(lambda x:'%06d'%x)

fs_df = fs_df.set_index('ticker')

#2. 연도별로 나누기
fs_2017_df = fs_df.iloc[:, np.arange(0, 948, 4)]
fs_2018_df = fs_df.iloc[:, np.arange(1, 948, 4)]
fs_2019_df = fs_df.iloc[:, np.arange(2, 948, 4)]
fs_2020_df = fs_df.iloc[:, np.arange(3, 948, 4)]

fs_2017_df.columns = [i.split('.')[0] for i in fs_2017_df.columns]
fs_2018_df.columns = [i.split('.')[0] for i in fs_2018_df.columns]
fs_2019_df.columns = [i.split('.')[0] for i in fs_2019_df.columns]
fs_2020_df.columns = [i.split('.')[0] for i in fs_2020_df.columns]

#3. SAVE 연도별 CSV
fs_2017_df.to_csv('data/fs_2017.csv')
fs_2018_df.to_csv('data/fs_2018.csv')
fs_2019_df.to_csv('data/fs_2019.csv')
fs_2020_df.to_csv('data/fs_2020.csv')