In [5]:
import pandas as pd
import numpy as np
import const

def fs_preperation():
    """
    2017~2020 년도의 재무데이터 병합 (전체 종목별, 237개의 재무데이터 포함)
    fs(Financial Statement)
    Args:
      - 
    Return:
        fs_df(pd.DataFrame) : 재무데이터 2017~2020 병합
    """
    df_2017 = pd.read_csv('data/fs_2017.csv')
    df_2017['ticker'] = df_2017['ticker'].map(lambda x:'%06d'%x)
    df_2017 = df_2017.set_index('ticker')

    df_2018 = pd.read_csv('data/fs_2018.csv')
    df_2018['ticker'] = df_2018['ticker'].map(lambda x:'%06d'%x)
    df_2018 = df_2018.set_index('ticker')

    df_2019 = pd.read_csv('data/fs_2019.csv')
    df_2019['ticker'] = df_2019['ticker'].map(lambda x:'%06d'%x)
    df_2019 = df_2019.set_index('ticker')

    df_2020 = pd.read_csv('data/fs_2020.csv')
    df_2020['ticker'] = df_2020['ticker'].map(lambda x:'%06d'%x)
    df_2020 = df_2020.set_index('ticker')

    fs_df = pd.concat([df_2017, df_2018, df_2019, df_2020], axis=1)

    year_col = [2017]*237 + [2018]*237 + [2019]*237 + [2020]*237
    fs_df.columns = [year_col, list(df_2020.columns) * 4]
    for index_date in [2017, 2018, 2019, 2020]:
        f_score_df = fs_df[(index_date)]
        ROA = fs_df[(index_date, '지배주주순이익')] / fs_df[(index_date, '자산')]
        CFO = fs_df[(index_date, '영업활동으로인한현금흐름')] / fs_df[(index_date, '자산')]
        ACCURUAL = CFO - ROA

        #재무성과
        LEV = fs_df[(index_date, '장기차입금')] / fs_df[(index_date, '자산')]
        LIQ = fs_df[(index_date, '유동자산')] / fs_df[(index_date, '유동부채')]
        OFFER = fs_df[(index_date, '유상증자')]

        # 운영 효율성
        MARGIN = fs_df[(index_date, '매출총이익')] / fs_df[(index_date, '매출액')]
        TURN = fs_df[(index_date, '매출액')] / fs_df[(index_date, '자산')]

        fs_df[(index_date,'ROA')] = ROA
        fs_df[(index_date,'CFO')] = CFO
        fs_df[(index_date,'ACCURUAL')] = ACCURUAL
        fs_df[(index_date,'LEV')] = LEV
        fs_df[(index_date,'LIQ')] = LIQ
        fs_df[(index_date,'OFFER')] = OFFER
        fs_df[(index_date,'MARGIN')] = MARGIN
        fs_df[(index_date,'TURN')] = TURN
    return fs_df

def invest_preperation():
    """
    2017~2020 년도의 PBR, PCR, PER, PSR 가치지표 생성
    
    Return : 
        invest_df(pd.DataFrame) : 가치지표 데이터 결합
    """
    invest_2017 = pd.read_csv('data/KOSPI_value_2017.csv')
    invest_2017['ticker'] = invest_2017['ticker'].map(lambda x : '%06d'%x)
    invest_2017 = invest_2017.set_index('ticker')

    invest_2018 = pd.read_csv('data/KOSPI_value_2018.csv')
    invest_2018['ticker'] = invest_2018['ticker'].map(lambda x : '%06d'%x)
    invest_2018 = invest_2018.set_index('ticker')

    invest_2019 = pd.read_csv('data/KOSPI_value_2019.csv')
    invest_2019['ticker'] = invest_2019['ticker'].map(lambda x : '%06d'%x)
    invest_2019 = invest_2019.set_index('ticker')

    invest_2020 = pd.read_csv('data/KOSPI_value_2020.csv')
    invest_2020['ticker'] = invest_2020['ticker'].map(lambda x : '%06d'%x)
    invest_2020 = invest_2020.set_index('ticker')

    invest_df = pd.concat([invest_2017,
                           invest_2018, 
                           invest_2019,
                           invest_2020
                        ], axis = 1)

    year_col = [2017]*4 + [2018]*4 + [2019]*4 + [2020]*4
    invest_df.columns = [year_col, ['PBR','PCR','PER','PSR'] * 4]

    return invest_df

fs_df = fs_preperation()
invest_df = invest_preperation()

In [29]:
import json

fs_json = json.dumps(fs_df.to_json())

In [40]:
fs_df

       2017                                                      ...  \
        매출액 매출원가 매출총이익 판매비와관리비 인건비 유무형자산상각비 연구개발비 광고선전비 판매비 관리비  ...
ticker                                                           ...
000020  NaN  NaN   NaN     NaN NaN      NaN   NaN   NaN NaN NaN  ...
000040  NaN  NaN   NaN     NaN NaN      NaN   NaN   NaN NaN NaN  ...
000050  NaN  NaN   NaN     NaN NaN      NaN   NaN   NaN NaN NaN  ...
000060  NaN  NaN   NaN     NaN NaN      NaN   NaN   NaN NaN NaN  ...
000070  NaN  NaN   NaN     NaN NaN      NaN   NaN   NaN NaN NaN  ...
...     ...  ...   ...     ...  ..      ...   ...   ...  ..  ..  ...
361610  NaN  NaN   NaN     NaN NaN      NaN   NaN   NaN NaN NaN  ...
363280  NaN  NaN   NaN     NaN NaN      NaN   NaN   NaN NaN NaN  ...
375500  NaN  NaN   NaN     NaN NaN      NaN   NaN   NaN NaN NaN  ...
378850  NaN  NaN   NaN     NaN NaN      NaN   NaN   NaN NaN NaN  ...
383220  NaN  NaN   NaN     NaN NaN      NaN   NaN   NaN NaN NaN  ...

            2019                2020                                          \
          MARGIN      TURN       ROA       CFO  ACCURUAL       LEV       LIQ
ticker
000020  0.395833  0.816153  0.065698  0.120332  0.054633       NaN  3.299259
000040 -0.007541  0.920194 -0.051956  0.056446  0.108403       NaN  0.725327
000050  0.289328  0.250894  0.010277  0.026563  0.016286  0.027117  0.410714
000060       NaN       NaN  0.017000  0.013742 -0.003257       NaN       NaN
000070  0.186209  0.693300  0.026274  0.063052  0.036778  0.048670  2.164076
...          ...       ...       ...       ...       ...       ...       ...
361610  0.401521  0.337093  0.044286  0.058295  0.014009  0.255373  2.079237
363280       NaN       NaN       NaN -0.003083       NaN       NaN  1.315789
375500       NaN       NaN       NaN       NaN       NaN       NaN       NaN
378850       NaN       NaN       NaN       NaN       NaN       NaN       NaN
383220       NaN       NaN       NaN       NaN       NaN       NaN       NaN


         OFFER    MARGIN      TURN
ticker
000020     NaN  0.509739  0.627248
000040   251.0  0.168930  0.755613
000050     NaN  0.294046  0.260258
000060  1000.0       NaN       NaN
000070     NaN  0.210465  0.634683
...        ...       ...       ...
361610  3000.0  0.392286  0.235640
363280     NaN       NaN       NaN
375500     NaN       NaN       NaN
378850     NaN       NaN       NaN
383220     NaN       NaN       NaN

[783 rows x 980 columns]

##### 1. F-Score를 활용한 종목추천
- 우량한 회사를 찾아내는데에 효율적이며, 회사의 성장성이 가장 큰 요소로 작용함

In [6]:
def get_fscore(fs_df, index_date, num):
    """
    Args:
        fs_df(pd.DataFrame) : 2017~2020 재무데이터
        index_date(int) :  연도 설정으로, 2017|2018|2019|2020 
        num(int) : 추천하고싶은 상위 종목의 개수
    Returns: 
        f_score_df(pd.DataFrame) : 상위 n개의 F-score를 갖는 값 출력
    """
    #수익성
    f_score_df = fs_df[(index_date)]
    ROA = fs_df[(index_date, '지배주주순이익')] / fs_df[(index_date, '자산')]
    CFO = fs_df[(index_date, '영업활동으로인한현금흐름')] / fs_df[(index_date, '자산')]
    ACCURUAL = CFO - ROA

    #재무성과
    LEV = fs_df[(index_date, '장기차입금')] / fs_df[(index_date, '자산')]
    LIQ = fs_df[(index_date, '유동자산')] / fs_df[(index_date, '유동부채')]
    OFFER = fs_df[(index_date, '유상증자')]

    # 운영 효율성
    MARGIN = fs_df[(index_date, '매출총이익')] / fs_df[(index_date, '매출액')]
    TURN = fs_df[(index_date, '매출액')] / fs_df[(index_date, '자산')]

    fs_df[(index_date,'ROA')] = ROA
    fs_df[(index_date,'CFO')] = CFO
    fs_df[(index_date,'ACCURUAL')] = ACCURUAL
    fs_df[(index_date,'LEV')] = LEV
    fs_df[(index_date,'LIQ')] = LIQ
    fs_df[(index_date,'OFFER')] = OFFER
    fs_df[(index_date,'MARGIN')] = MARGIN
    fs_df[(index_date,'TURN')] = TURN
    
    F_1 = ROA > 0
    F_2 = CFO > 0
    try:
        F_3 = (ROA - (fs_df[(index_date-1, '지배주주순이익')] / fs_df[(index_date-1, '자산')])) > 0
    except:
        #과거데이터 존재하지 않음
        F_3 = 0
    F_4 = ACCURUAL > 0
    try:
        F_5 = (LEV - (fs_df[(index_date-1, '장기차입금')] / fs_df[(index_date-1, '자산')])) <= 0 
    except:
        F_5 = 0
    try:
        F_6 = (LIQ - (fs_df[(index_date-1, '유동자산')] / fs_df[(index_date-1, '유동부채')])) > 0
    except:
        F_6 = 0
    F_7 = (OFFER <= 0) | OFFER.isna()
    try:
        F_8 = (MARGIN - (fs_df[(index_date-1, '매출총이익')] / fs_df[(index_date-1, '매출액')])) > 0
    except:
        F_8 = 0
    try:
        F_9 = (TURN - (fs_df[(index_date-1, '매출액')] / fs_df[(index_date-1, '자산')])) > 0
    except:
        F_9 = 0
        
    f_score_df['F_score'] = sum([F_1,F_2,F_3,F_4,F_5,F_6,F_7,F_8,F_9])
    f_score_df = f_score_df.sort_values(by='F_score', ascending=False)
    return f_score_df[:num]

##### 1-1 F-Score 를 활용한 추천
- 우량한 회사를 찾아내는데에 효율적이며, __회사의 성장성이 가장 큰 요소로 작용__함

In [45]:
get_fscore(fs_df, 2017, None).to_json(r'json_fs_data/fs2017.json')
get_fscore(fs_df, 2018, None).to_json(r'json_fs_data/fs2018.json')
get_fscore(fs_df, 2019, None).to_json(r'json_fs_data/fs2019.json')
get_fscore(fs_df, 2020, None).to_json(r'json_fs_data/fs2020.json')

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\anaconda3\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\anaconda3\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\anaconda3\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
# 2018년 기준으로, 상위 10개 출력
recom_fscore_df = get_fscore(fs_df, index_date=2020, num=10)
recom_fscore_df.loc[:, 'stock_name'] = const.ticker_list_to_name(list(recom_fscore_df.index))
recom_fscore_df[['stock_name','지배주주순이익','자산','영업활동으로인한현금흐름','자산','유동자산','유동부채','매출액','매출총이익','F_score']]

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,stock_name,지배주주순이익,자산,영업활동으로인한현금흐름,자산,유동자산,유동부채,매출액,매출총이익,F_score
ticker,,,,,,,,,,
021240,코웨이,4049.0,30290.0,5628.0,30290.0,8969.0,14173.0,32374.0,21935.0,9
000140,하이트진로홀딩스,645.0,39050.0,3656.0,39050.0,9178.0,18387.0,22470.0,9811.0,9
103140,풍산,719.0,25520.0,1145.0,25520.0,13020.0,7473.0,25936.0,2711.0,9
001790,대한제당,226.0,11462.0,648.0,11462.0,5330.0,3913.0,12145.0,1489.0,9
001070,대한방직,27.0,2138.0,43.0,2138.0,963.0,497.0,1752.0,153.0,9
009830,한화솔루션,3091.0,151373.0,10695.0,151373.0,49584.0,52511.0,91950.0,19259.0,9
195870,해성디에스,300.0,3832.0,444.0,3832.0,1740.0,1200.0,4587.0,758.0,9
011070,LG이노텍,2361.0,60386.0,9503.0,60386.0,31618.0,22842.0,95418.0,12903.0,9
049800,우진플라임,78.0,2676.0,290.0,2676.0,1167.0,1659.0,2050.0,532.0,9
004140,동방,131.0,5268.0,219.0,5268.0,1284.0,2546.0,5921.0,725.0,9

##### 2. 저평가 데이터 출력 (PBR, PER 등 설정한 지표에 따라 추천)
- Low_PER
- High_ROA
- Magin_formula : PER + ROA

In [8]:
#  complete 1 - PER기준으로 오름차순으로 정렬하여 주는 함수 
def low_per(invest_df, index_date, num):
    per_sorted = invest_df[(index_date)].sort_values(by='PER')
    return per_sorted[:num]


# complete2 - high-roa
def high_roa(fs_df, index_date, num):
    fs_df[(index_date, 'ROA')] = fs_df[(index_date, 'ROA')]
    fs_df[(index_date, 'ROA')] = pd.to_numeric(fs_df[(index_date, 'ROA')] )
    sorted_roa = fs_df.sort_values(by=(index_date, 'ROA'), ascending=False)
    return sorted_roa[index_date][:num]

# complte3 - 마법공식
def magic_formula(fs_df, invest_df, index_date, num):
    per = low_per(invest_df, index_date, 500)
    roa = high_roa(fs_df, index_date, 500)
    per['per순위'] = per['PER'].rank()
    roa['roa순위'] = roa['ROA'].rank(ascending=False)
    magic = pd.merge(per, roa, how='outer', left_index=True, right_index=True)
    magic['마법공식 순위'] = (magic['per순위'] + magic['roa순위']).rank().sort_values()
    magic = magic.sort_values(by='마법공식 순위')
    magic.loc[:, 'stock_name'] = const.ticker_list_to_name(magic.index)
    return magic[:num]

##### 2. 마법공식으로 인한 추천의 결과

In [9]:
import const

year = 2020
show_row = 20

recom_magic_formula = magic_formula(fs_df, invest_df, year, show_row)\
                                    [['ROA','PER','마법공식 순위','stock_name']]

recom_magic_formula

             ROA   PER  마법공식 순위 stock_name
ticker
009410  0.146592  1.40      1.5       태영건설
000700  0.160578  1.87      1.5      유수홀딩스
007120  0.213434  2.59      3.0     미래아이앤지
105840  0.141965  2.60      4.0         우진
004150  0.113539  2.27      5.0      한솔홀딩스
002870  0.306122  3.71      6.0       신풍제지
008060  0.089827  2.33      7.0         대덕
068290  0.181943  4.50      8.5      삼성출판사
092230  0.082710  1.82      8.5     KPX홀딩스
002170  0.118218  3.77     10.0       삼양통상
005820  0.090243  2.83     11.0         원림
123890  0.107652  3.76     12.0     한국자산신탁
079980  0.094169  3.46     13.0        휴비스
025000  0.099372  4.20     14.0     KPX케미칼
000640  0.107405  4.63     15.0   동아쏘시오홀딩스
014790  0.066461  2.19     16.0         한라
017390  0.077529  3.45     17.5       서울가스
024720  0.092819  4.49     17.5    한국콜마홀딩스
136490  0.074663  3.21     19.5         선진
006040  0.077463  3.40     19.5       동원산업

##### 3. value_rank

In [10]:
def get_value_rank(invest_df, value_type, index_date, num):
    invest_df[(index_date,  value_type)] = pd.to_numeric(invest_df[(index_date,  value_type)])
    value_sorted = invest_df.sort_values(by=(index_date,  value_type))[index_date]
    value_sorted[  value_type + '순위'] = value_sorted[value_type].rank()
    return value_sorted[[value_type, value_type + '순위']][:num]

In [11]:
#example
per_top10_df = get_value_rank(invest_df, 'PER', 2018, 10)
display(per_top10_df)
const.ticker_list_to_name(per_top10_df.index)

         PER  PER순위
ticker
004800  0.34    1.0
003300  0.60    2.0
003030  0.79    3.0
029460  0.81    4.0
012630  1.01    5.0
004960  1.20    6.0
009160  1.67    7.0
008060  1.77    8.0
005960  2.06    9.0
013580  2.18   10.0

['효성', '한일홀딩스', '세아제강지주', '케이씨', 'HDC', '한신공영', 'SIMPAC', '대덕', '동부건설', '계룡건설']

##### 4. make_value_combo

In [12]:
def make_value_combo(value_list, invest_df, index_date, num):
    
    for i, value in enumerate(value_list):
        temp_df = get_value_rank(invest_df, value, index_date, None)
        if i == 0:
            value_combo_df = temp_df
            rank_combo = temp_df[value + '순위']
        else:
            value_combo_df = pd.merge(value_combo_df, temp_df, how='outer', left_index=True, right_index=True)
            rank_combo = rank_combo + temp_df[value + '순위']
    
    value_combo_df['종합순위'] = rank_combo.rank()
    value_combo_df = value_combo_df.sort_values(by='종합순위')
    
    return value_combo_df[:num]

In [13]:
make_value_df = make_value_combo(['PER','PBR','PSR'], invest_df, 2018, 10)
display(make_value_df)
print(const.ticker_list_to_name(make_value_df.index))

         PER  PER순위   PBR  PBR순위   PSR  PSR순위  종합순위
ticker
003030  0.79    3.0  0.22    7.5  0.14   62.0   1.0
009200  3.39   19.5  0.26   12.5  0.11   41.5   2.0
017940  4.90   45.0  0.30   29.5  0.08   17.5   3.0
016710  5.24   60.0  0.25   10.0  0.11   41.5   4.0
005010  5.06   54.5  0.21    6.0  0.15   70.0   5.0
004960  1.20    6.0  0.44  126.0  0.09   27.5   6.0
004140  3.09   16.0  0.43  118.0  0.09   27.5   7.0
002710  4.58   37.5  0.39   88.5  0.11   41.5   8.0
002030  4.95   47.5  0.33   51.0  0.15   70.0   9.0
095720  4.82   42.0  0.32   43.5  0.17   92.0  10.0

['세아제강지주', '무림페이퍼', 'E1', '대성홀딩스', '휴스틸', '한신공영', '동방', 'TCC스틸', '아세아', '웅진씽크빅']

In [14]:
make_com_df = make_value_combo(['PER', 'PBR', 'PSR', 'PCR'], invest_df, 2018, 20)
display(make_com_df)
print(const.ticker_list_to_name(make_com_df.index))

          PER  PER순위   PBR  PBR순위   PSR  PSR순위   PCR  PCR순위  종합순위
ticker
003030   0.79    3.0  0.22    7.5  0.14   62.0  0.69    4.0   1.0
009200   3.39   19.5  0.26   12.5  0.11   41.5  1.08    9.0   2.0
016710   5.24   60.0  0.25   10.0  0.11   41.5  1.82   23.0   3.0
017940   4.90   45.0  0.30   29.5  0.08   17.5  3.14   66.0   4.0
004960   1.20    6.0  0.44  126.0  0.09   27.5  1.19   11.0   5.0
004140   3.09   16.0  0.43  118.0  0.09   27.5  1.18   10.0   6.0
002030   4.95   47.5  0.33   51.0  0.15   70.0  1.80   22.0   7.0
005010   5.06   54.5  0.21    6.0  0.15   70.0  3.08   64.0   8.0
009410   2.37   12.0  0.43  118.0  0.12   48.5  1.74   21.0   9.5
003300   0.60    2.0  0.31   36.0  0.26  159.5  0.54    2.0   9.5
013580   2.18   10.0  0.49  159.5  0.08   17.5  1.94   30.0  11.0
095720   4.82   42.0  0.32   43.5  0.17   92.0  2.44   43.0  12.0
034300   2.22   11.0  0.49  159.5  0.09   27.5  1.86   24.0  13.0
002710   4.58   37.5  0.39   88.5  0.11   41.5  2.96   58.0  14.0
003480   9.57  179.0  0.24    9.0  0.09   27.5  1.37   13.5  15.0
005960   2.06    9.0  0.42  109.0  0.17   92.0  1.97   32.0  16.0
005720   5.05   53.0  0.33   51.0  0.23  138.5  2.14   34.0  17.5
006120   6.62   95.0  0.37   78.5  0.07   12.5  3.59   90.5  17.5
267290   4.60   39.0  0.49  159.5  0.10   36.0  2.71   52.5  19.0
058650  11.88  249.0  0.20    4.0  0.08   17.5  1.57   19.0  20.0

['세아제강지주', '무림페이퍼', '대성홀딩스', 'E1', '한신공영', '동방', '아세아', '휴스틸', '태영건설', '한일홀딩스', '계룡건설', '웅진씽크빅', '신세계건설', 'TCC스틸', '한진중공업홀딩스', '동부건설', '넥센', 'SK디스커버리', '경동도시가스', '세아홀딩스']

##### 5. 모멘텀 활용

In [15]:
def return_price_df():
    price_df = pd.read_csv('data/KOSPI_price.csv', index_col=0)
    price_df['종목코드'] = price_df['종목코드'].map(lambda x : '%06d'%x)
    price_df = price_df[['날짜','종목코드','종가']]
    price_df['날짜'] = pd.to_datetime(price_df['날짜'].astype(str))
    price_df = pd.pivot_table(data = price_df, index='날짜', columns='종목코드')['종가']
    return price_df

price_df = return_price_df()

In [16]:
price_df

종목코드,000020,000040,000050,000060,000070,000080,000100,000120,000140,000150,...,336370,339770,344820,352820,353200,361610,363280,375500,378850,383220
날짜,,,,,,,,,,,,,,,,,,,,,
2017-01-02,8110.0,5425.0,14800.0,15300.0,118500.0,20900.0,33432.0,179500.0,12400.0,83894.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-03,8110.0,5589.0,14900.0,15400.0,116500.0,21300.0,33264.0,176500.0,12650.0,84288.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,8150.0,5632.0,14800.0,15350.0,115000.0,21100.0,33432.0,175500.0,12550.0,81925.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-05,8210.0,5669.0,14900.0,15300.0,116000.0,21300.0,34440.0,175500.0,12500.0,83106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-06,8160.0,5632.0,14700.0,15400.0,114500.0,21350.0,33936.0,177500.0,12350.0,83894.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-31,14650.0,1170.0,15000.0,17850.0,113500.0,39600.0,65700.0,170000.0,19300.0,87400.0,...,50500.0,19800.0,64100.0,265000.0,15100.0,149000.0,28550.0,134500.0,6020.0,449500.0
2021-06-01,14600.0,1175.0,14950.0,18100.0,114000.0,39600.0,65200.0,169500.0,18900.0,83900.0,...,50200.0,19750.0,63800.0,261000.0,15050.0,150000.0,28450.0,135000.0,5980.0,492500.0
2021-06-02,14500.0,1210.0,15100.0,18050.0,114500.0,40100.0,64300.0,168500.0,19300.0,90000.0,...,49950.0,19650.0,65800.0,263500.0,15200.0,149500.0,27750.0,138000.0,5940.0,483000.0
2021-06-03,14600.0,1200.0,15400.0,17900.0,114500.0,39900.0,64200.0,170000.0,19200.0,85900.0,...,50300.0,19250.0,64500.0,269500.0,15450.0,149500.0,27250.0,139000.0,5880.0,497000.0
2021-06-04,14700.0,1195.0,15000.0,17850.0,113500.0,39200.0,63600.0,167000.0,18750.0,88100.0,...,49600.0,19250.0,62800.0,266000.0,15300.0,147500.0,27200.0,139500.0,5890.0,485000.0

In [17]:
def get_momentum_rank(price_df, index_date, num):
    momentum_df = pd.DataFrame(price_df.pct_change(252).loc[index_date])
    momentum_df.columns = ['모멘텀']
    momentum_df['모멘텀순위'] = momentum_df['모멘텀'].rank(ascending=False)
    momentum_df = momentum_df.sort_values(by='모멘텀순위')
    return momentum_df[:num]

top_momentum_df = get_momentum_rank(price_df, '2018-02-01', 10)
display(top_momentum_df)
print(const.ticker_list_to_name(top_momentum_df.index))

             모멘텀  모멘텀순위
종목코드
074610  5.913997    1.0
005420  5.492338    2.0
007460  3.855072    3.0
001820  3.539604    4.0
007630  3.312354    5.0
009470  3.154676    6.0
003670  3.132253    7.0
002210  2.929471    8.0
008700  2.655172    9.0
081000  2.476690   10.0

['이엔플러스', '코스모화학', '에이프로젠 KIC', '삼화콘덴서', '폴루스바이오팜', '삼화전기', '포스코케미칼', '동성제약', '아남전자', '일진다이아']

In [18]:
date = 2018
value = make_value_combo(['PER', 'PBR', 'PSR', 'PCR'], invest_df, date, None)
quality = get_fscore(fs_df, date, None)

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
def get_value_quality(invest_df, fs_df, index_date, num):
    value = make_value_combo(['PER', 'PBR', 'PSR', 'PCR'], invest_df, index_date, None)
    quality = get_fscore(fs_df, index_date, None)
    value_quality = pd.merge(value, quality, how='outer', left_index=True, right_index=True)
    value_quality_filtered = value_quality.sort_values(by='F_score')
    vq_df = value_quality_filtered.sort_values(by='종합순위')
    return vq_df[:num]

In [20]:
final_select_stock = get_value_quality(invest_df, fs_df, 2019, 10)
display(final_select_stock)
print(const.ticker_list_to_name(final_select_stock.index))

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,PER,PER순위,PBR,PBR순위,PSR,PSR순위,PCR,PCR순위,종합순위,매출액,...,기말현금및현금성자산,ROA,CFO,ACCURUAL,LEV,LIQ,OFFER,MARGIN,TURN,F_score
ticker,,,,,,,,,,,,,,,,,,,,,
003480,2.53,7.0,0.21,9.0,0.09,28.5,0.86,1.5,1.0,8776.0,...,273.0,0.016284,0.036008,0.019724,0.293438,0.565329,NaN,0.132976,0.471650,7
013520,3.63,19.0,0.32,59.5,0.05,4.0,1.00,5.0,2.0,15520.0,...,1013.0,0.018983,0.082288,0.063305,0.040277,0.729549,NaN,0.181701,1.280951,8
006120,2.96,12.0,0.32,59.5,0.11,46.5,1.86,25.5,3.0,50211.0,...,1453.0,0.036079,0.043499,0.007420,0.013580,1.195999,NaN,0.084165,1.004200,7
004960,2.38,4.0,0.34,70.0,0.11,46.5,1.95,30.0,4.0,16233.0,...,2434.0,0.043549,-0.056148,-0.099697,0.072380,1.252594,NaN,0.118462,0.983222,4
013580,2.53,7.0,0.39,109.0,0.08,20.5,1.86,25.5,5.0,22757.0,...,3436.0,0.035718,0.006784,-0.028933,0.095031,1.107527,NaN,0.104363,1.135239,4
003960,1.52,2.0,0.41,123.0,0.09,28.5,1.16,9.0,6.0,13297.0,...,252.0,0.077131,0.072182,-0.004949,0.069194,0.919728,NaN,0.143867,1.241666,5
010100,5.90,81.0,0.31,54.0,0.07,14.0,1.55,16.0,7.0,9540.0,...,361.0,0.017477,0.082477,0.065001,0.059329,1.028611,NaN,0.070650,1.462517,8
002030,4.71,45.0,0.29,37.5,0.15,77.0,1.39,13.0,8.0,15424.0,...,2088.0,0.016676,0.078179,0.061503,0.238871,1.829700,NaN,0.211813,0.534739,6
084690,3.46,18.0,0.42,130.5,0.07,14.0,1.34,12.0,9.0,35525.0,...,2808.0,0.025028,0.068575,0.043547,0.042890,1.363909,NaN,0.254469,1.229749,7
001390,1.59,3.0,0.46,167.5,0.07,14.0,0.88,3.0,10.0,20684.0,...,3273.0,0.023148,0.035337,0.012188,0.186704,0.907986,72.0,0.232499,0.498230,4

['한진중공업홀딩스', '화승코퍼레이션', 'SK디스커버리', '한신공영', '계룡건설', '사조대림', '한국프랜지', '아세아', '대상홀딩스', 'KG케미칼']